#about {
  text-align:center;
  font-size: 30px;
}

.profile-pic {
  width: 20%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.text {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-family: 'Baloo Tammudu 2';
}

/* Contact Form Styles */
input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: #9e0840;
  color: white;
  padding: 14px 18px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ec96e1;
}

textarea {
	height: 120px;

}

/* Contact List Styles */

.contact-info a {
  text-decoration: underline;
  color: #9e0840;
  font-size: 25px;
  display: inline-flex;
  justify-content: center;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 2rem;
  padding: 20px;
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
}

.contact-info a:hover {
  color: #e74d85;
}

.button-submit:hover {
  background-color: #e74d85 ;
}

.error-text {
  color: #6032a8;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
}

/* Resume Styles */
/* #resume {
  background-color: #9e0840;
  color: white;
  padding: 15px 50px;
  margin: 0;
  position: absolute;
  text-decoration: none;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: bold;
} */

.container {
  height: 60px;
  position: relative;
  margin-top: 3rem;
}



#resume {
  color: white;
  padding: 15px 50px;
	cursor: pointer;
	position: relative;
	position: absolute;
  text-decoration: none;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	border-radius: 3.75rem;
	line-height: 2.5rem;
	font-size: 1.5rem;
	font-weight: 600;
	
	border: 1px solid #012880;
	background-image: linear-gradient(-180deg, #c5149f 0%, #9e0840 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

#resume span {
	color: transparent;
	background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

#resume::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	opacity: 0.7;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

#resume::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	filter: blur(1px);
	opacity: 0.05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

#resume:hover {
  background-image: linear-gradient(-180deg, #9081e7 0%, #290bd3 100%);
}

.skill-block img {
  display: block ;
}

.skill-block p {
  font-weight: bold;
  text-align: center;
}

.skill-block {
  margin-right: 2rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
  font-style: italic;
  font-family: 'Baloo Tammudu 2';
}

.skill-header {
  margin-top:5rem;
  text-align:  center;
  font-family: 'Baloo Tammudu 2';
  font-size: 30px;
}

#myResume {
  margin-top: 20px
}

/* Portfolio Styles */
.media-img {
  object-fit: scale-down;
  height: 90px;
}

/* Page Styles */
.page {
  background-color:#ecdaf0 ;
}

/* FOOTER STYLES START */

footer {
  background: #9e0840;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  color: white;
}

.icon-1 {
  margin-right: 20px;
}

.icon-3 {
  margin-left: 20px;
}

.icon-1:hover, .icon-3:hover {
  background-color: #e74d85 ;
}

footer a {
  text-decoration: none;
  color:white;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER than 1024px */
@media screen and (max-width: 1024px) {
  .text {
    font-size: 30px
  }

  .profile-pic {
    margin-bottom: 40px;
    width: 40%;
    height: 40%;
  }

  .skills {
    font-size: 25px
  }

  .skill-header {
    font-size: 35px
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER than 575px */
@media screen and (max-width: 575px) {
  .text {
    font-size: 18px
  }

  .profile-pic {
    margin-bottom: 30px;
    width: 20%;
    height: 20%;
  }

  .skills {
    font-size: 18px
  }

  .skill-header {
    font-size: 25px
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER than 375px */
@media screen and (max-width: 375px) {
  .text {
    font-size: 15px
  }

  .profile-pic {
    margin-bottom: 20px;
  }

  .skills {
    font-size: 15px
  }

  .skill-header {
    font-size: 20px
  }
}